<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <form [formGroup]="registerForm" (ngSubmit)="submit()">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="name" class="form-control" formControlName="name" />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" formControlName="email" />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            formControlName="password"
          />
        </div>

        <br />
        <button class="btn btn-primary">submit</button>
      </form>
    </div>
  </div>
</div>
